<div class="uikitty-powered uk-clearfix uk-margin-top uk-contrast">
<span class="uk-text-middle">Designed using</span>
<a href="https://uikitty.com"><img src="{{ base_path ~ directory }}/img/uikitty-16.png" /></a> <a href="https://uikitty.com" class="uk-text-middle">Uikitty</a> 
<span class="uk-text-middle">by</span> <a href="https://qode.one"><img src="{{ base_path ~ directory }}/img/qode16.png" /></a> <a href="https://qode.one" class="uk-text-middle">Qode One</a>
</div>